/test/EmailList/EmailList/nbproject/private/
/BaiTap/EmailList/nbproject/private/
/BaiTap/EmailList/build/
/BaiTap/EmailList_1/nbproject/private/
/BaiTap/EmailList_1/build/
/test/Bai_Tap_Ve_Nha/Bai_Tap_Ve_Nha/Bai_Tap_Ve_Nha/build/
/test/Bai_Tap_Ve_Nha/Bai_Tap_Ve_Nha/Bai_Tap_Ve_Nha/nbproject/private/
/BaiTap/E-commerce/nbproject/private/
/BaiTap/E-commerce/build/
/BaiTap/CartSevlet/nbproject/private/
/BaiTap/CartSevlet/build/
/BaiTap/EmaiList_session/nbproject/private/
/BaiTap/EmaiList_session/build/
/BaiTap/EmailList_Session/nbproject/private/
/BaiTap/EmailList_Session/build/
/BaiTap/SQLGatewayServlet/nbproject/private/
/BaiTap/SQLGatewayServlet/build/
/test/TestConnectJDBC/nbproject/private/
/test/TestConnectJDBC/build/
/test/LoginSession_Test/nbproject/private/
/test/LoginSession_Test/build/
/test/Login_Test/nbproject/private/
/test/TestConnectJDBC_SQLServer/nbproject/private/
/test/Test_ConnectJDBC_SQLServer/nbproject/private/
/test/Test_LoginSession/nbproject/private/
/test/Test_ConnectJDBC_MySQL/nbproject/private/
/test/Test_ConnectJDBC_MySQL/build/
/test/Test_RunJavaApp/nbproject/private/
/test/Test_RunJavaApp/build/
/test/Test_Login/build/
/test/Test_JDBC_MySQL/nbproject/private/
/test/Test_JDBC_MySQL/build/
/test/Test_LoginSession/build/
/test/Test_Email_Cookies/nbproject/private/
/test/Test_Email_Cookies/build/
/BaiTap/SQLGatewayServlet2/nbproject/private/
/BaiTap/SQLGatewayServlet2/build/
/test/Test_JDBC_MySQL2/nbproject/private/
/test/Test_JDBC_MySQL2/build/
/test/Test_ConnectJDBC_SQLServer/build/
/test/Test_DBDemo/nbproject/private/
/test/Test_DBDemo/build/
/BaiTap/BaiThucHanh1/nbproject/private/
/BaiTap/BaiThucHanh1/build/
/test/Test_WriteFile/nbproject/private/
/test/Test_WriteFile/build/
/test/Test_AppendFile/nbproject/private/
/test/Test_AppendFile/build/
/test/Web_UNIFY-master/nbproject/private/
/BaiTap/BaiThucHanh2/build/
/test/Test_BaiThucHanh2/nbproject/private/
/test/Test_BaiThucHanh2_SQL/nbproject/private/
/test/Test_BaiThucHanh2_SQL/build/
