/test/EmailList/EmailList/nbproject/private/
/BaiTap/EmailList/nbproject/private/
/BaiTap/EmailList/build/
/BaiTap/EmailList_1/nbproject/private/
/BaiTap/EmailList_1/build/
/test/Bai_Tap_Ve_Nha/Bai_Tap_Ve_Nha/Bai_Tap_Ve_Nha/build/
/test/Bai_Tap_Ve_Nha/Bai_Tap_Ve_Nha/Bai_Tap_Ve_Nha/nbproject/private/
/BaiTap/E-commerce/nbproject/private/
/BaiTap/E-commerce/build/
/BaiTap/CartSevlet/nbproject/private/
/BaiTap/CartSevlet/build/
/BaiTap/EmaiList_session/nbproject/private/
/BaiTap/EmaiList_session/build/
